/data/
/.idea/
/.idea/ai-vibration-condition-monitoring.iml
/local_data/Damaged/D1.mat
/local_data/Damaged/D2.mat
/local_data/Damaged/D3.mat
/local_data/Damaged/D4.mat
/local_data/Damaged/D5.mat
/local_data/Damaged/D6.mat
/local_data/Damaged/D7.mat
/local_data/Damaged/D8.mat
/local_data/Damaged/D9.mat
/local_data/Damaged/D10.mat
/local_data/Healthy/H1.mat
/local_data/Healthy/H2.mat
/local_data/Healthy/H3.mat
/local_data/Healthy/H4.mat
/local_data/Healthy/H5.mat
/local_data/Healthy/H6.mat
/local_data/Healthy/H7.mat
/local_data/Healthy/H8.mat
/local_data/Healthy/H9.mat
/local_data/Healthy/H10.mat
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/local_data/Vibration Condition Monitoring Benchmarking Datasets.pdf
/local_data/WindTurbineConditionMonitoringLicenseInfo.txt
