/preprocessing/data/
/preprocessing/__pycache__/
/.idea/
/.idea/ai-vibration-condition-monitoring.iml
/preprocessing/local_data/Damaged/D1.mat
/preprocessing/local_data/Damaged/D2.mat
/preprocessing/local_data/Damaged/D3.mat
/preprocessing/local_data/Damaged/D4.mat
/preprocessing/local_data/Damaged/D5.mat
/preprocessing/local_data/Damaged/D6.mat
/preprocessing/local_data/Damaged/D7.mat
/preprocessing/local_data/Damaged/D8.mat
/preprocessing/local_data/Damaged/D9.mat
/preprocessing/local_data/Damaged/D10.mat
/preprocessing/local_data/Healthy/H1.mat
/preprocessing/local_data/Healthy/H2.mat
/preprocessing/local_data/Healthy/H3.mat
/preprocessing/local_data/Healthy/H4.mat
/preprocessing/local_data/Healthy/H5.mat
/preprocessing/local_data/Healthy/H6.mat
/preprocessing/local_data/Healthy/H7.mat
/preprocessing/local_data/Healthy/H8.mat
/preprocessing/local_data/Healthy/H9.mat
/preprocessing/local_data/Healthy/H10.mat
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/preprocessing/local_data/Vibration Condition Monitoring Benchmarking Datasets.pdf
/preprocessing/local_data/WindTurbineConditionMonitoringLicenseInfo.txt
__pycache__/
/CNNModels/
/data/
/Lib/
/etc/
/share/
preprocessing/data_dict.pt
preprocessing/images/
test_data_dict.pt
train_data_dict.pt
val_data_dict.pt
